USE [master]
GO
/****** Object:  Database [ProyectoStock]    Script Date: 25/09/2020 11:12:37 ******/
CREATE DATABASE [ProyectoStock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoStock', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ProyectoStock.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProyectoStock_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ProyectoStock_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoStock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoStock]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 25/09/2020 11:12:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Categoria](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[BAJA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 25/09/2020 11:12:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Productos](
	[ID_PRODUCTOS] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_PRODUCTO] [varchar](50) NULL,
	[NOMBRE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](60) NULL,
	[CAPACIDAD] [varchar](50) NULL,
	[STOCK] [int] NULL,
	[MINIMO_STOCK] [int] NULL,
	[PRECIO_COMPRA] [decimal](18, 2) NULL,
	[PRECIO_VENTA] [decimal](18, 2) NULL,
	[PRECIO_MAYORISTA] [decimal](18, 2) NULL,
	[ES_MAYOR] [bit] NULL,
	[ESTADO] [bit] NULL,
	[PROVEEDOR] [varchar](50) NULL,
	[ID_CATEGORIA] [int] NULL,
	[FECHA_INGRESO] [date] NULL,
 CONSTRAINT [PK__Producto__A95758BF75BA9F1D] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[Categoria] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
USE [master]
GO
